/* header styles */
#header-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}
#titlee {
    display: inline;
    border:3px solid #000;
    width: auto;
    padding: 3px;
    background-color: #C4D5FF;
}
body {
    font-family: Arial, sans-serif;
    background-color: #FFD085;
}

#chat-container {
    width: 95%;
    height: 600px;
    /* max-width: 600px; */
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #C4D5FF;
}

#chat-container, #chat-container * {
    border-radius: 25px;
}
#chat-box {
    height: 70%;
    overflow-y: auto;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
}

#chat-box div {
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 80%; /* prevents messages from getting too wide */
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    clear: both; /* so each message div appears on own line*/
}

/* for changing the way "user" and "bot" messages look*/
.user {
    text-align: right;
    background-color: #b5f782; /* Light green background for user messages */
    float: right; /* align user messages to right */
    margin: 10px;
}

.bot {
    text-align: left;
    background-color: #d2d2d2; /* Light grey background for bot messages */
    float: left; /* align user messages to left*/
    margin: 10px;
}

#userr {
    display: flex;
    align-items: center;
    gap: 10px;
}


#user-input {
    width: calc(100% - 70px);
    padding: 10px;
    height: 130px; 
    overflow-y: auto;
    background-color: #F6F6F6;

}

/* make sure all buttons change cursors over hover */
button {
    cursor: pointer;
}
#send-btn {
    /* background-image: linear-gradient(to right, #ff7e5f, #feb47b);  */
    /* color: white; */
    padding: 10px 20px;
    /* border: none; */
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  
  #send-btn:hover {
    background-image: linear-gradient(to right, #feb47b, #ff7e5f);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
  }
  
  #send-btn:active {
    box-shadow: inset 0 3px 4px rgba(0,0,0,0.2);
    border: 2x solid #000000; 
  }
  
  #butts {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%;  */
  }

  #butts button {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    width: 100px;
    height: 50px; 
    border: 2px solid #000000; 
  }
  #code-btn{
    background-color: #97ffc6;
  }

  #code-btn.active{
    background-color: #0f311f;
    color: white;
  }
  #llama-btn {
    background-color: #ff9797;
  }
  #llama-btn.active{
    background-color: #561616;
    color: white;
  }